/*all*/
body {
  font-family: 'Mukta', sans-serif;
}

h1, button, .card-title, .card-text-commentary, .carsButton, .detailButton, .contactForm, .commentForm, .loginButton, .backendButton {
  font-family: 'Trirong', serif;
}

/*layout*/
header {
  padding: 100px;
}

#button-login {
  position: absolute;
  right : 1px;
  top: 20px;
  width: 10vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#button-home {
  position: absolute;
  left: 5px;
  top: 5px;
}

/*footer*/
footer {
  position: static;
  bottom: 0px;
  display: flex;
  background-color: black;
  margin-top: 30px;
}

#adress-timetable {
  border-radius: 30px;
  padding: 15px;
  margin: 10px;
  color: #D92332;
}

#adress {
  text-align: center;
}

#timetable {
  text-align: left;
}

#timetable p {
  margin: 0;
}

#contact {
  color: #D92332;
  font-size: xx-large;
}

.contactButton, .commentButton, .detailButton, .contactForm, .commentForm, .loginButton, .backendButton {
  background-color: #D92332;
  color: black;
  font-size: large;
  border: solid 1px black;
}


/*home*/
.card {
  width: 100%;
  padding: 10px;
  border: 0;
}

.services-card {
  border-radius: 30px;
  border: solid 1px #D92332;
  display: inline-block;
}

.carsButton {
  color: #D92332;
  background-color: black;
  border-radius: 20px;
  margin: 20px;
}

.card-title{
  font-size: x-large;
  font-weight: 600;
}

.card-text-commentary{
  color:#D92332;
  font-size: medium;
}

.img-cars-home {
  padding: 0;
  height: 200px;

}

h1{
  padding-top: 30px;
  margin-bottom: 0;
}


/* cars */


/*car's detail*/
.pictures {
  height: 25vh;
  display: inline-block;
}

.carDetail {
  border: solid 1px #D92332;
  border-radius: 20px;
  padding: 10px;
}

/*login*/
#login-f {
  width : 50%;
  height: 50vh;
  padding: 20px;
  border: solid 1px #D92332;
}

#login-form {
  width : 80%;

}

/*interface */
h4 {
  background-color: #D92332;
  padding: 10px;
  color: black;
}

.backendButton {
  margin: 10px;
}

/*responsive*/

@media screen and (max-width: 576px) {
#login-f {
    width : 100%;
  }

.carDetail {
    border: none;
  }
}

