/*layout*/
header {
  padding: 100px;
}

#button-login {
  position: absolute;
  right : 1px;
  top: 20px;
  width: 10vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#button-home {
  position: absolute;
  left: 5px;
  top: 5px;
}

/*footer*/
footer {
  position: relative;
  bottom: 0px;
  display: flex;
  background-color: black;
}

#adress-timetable {
  border-radius: 30px;
  padding: 15px;
  margin: 10px;
  color: #D9777F
}

#adress {
  text-align: center;
}

#timetable {
  text-align: left;
}

#timetable p {
  margin: 0;
}

#contact {
  color: #D9777F
}

/*home*/
.card {
  height: 10px;
  width: 100%;
  margin: 10px;
  padding: 10px;
  border: 0;
}

.services-card {
  border-radius: 30px;
  background-color: #D9777F;
  display: inline-block;
}

#button-view-cars {
  background-color: black;
  border-radius: 30px;
  color: #D9777F;
}

.img-cars-home {
  padding: 0;
  height: 200px;

}

/*car's detail*/
.pictures {
  height: 25vh;
  display: inline-block;
}

/*login*/
#login-f {
  width : 50%;
  height: 50vh;
  align-items: center;
  border: solid 1px #D9777F;
  margin-bottom: 10px;
}

#login-form {
  width : 80%;
}

@media screen and (max-width: 576px) {

}

